ion-toolbar {
  position: absolute;
  // --background: rgba(var(--ion-color-light-rgb), 0.7);
  --background: none;
}

ion-menu-button {
  color: var(--ion-color-medium);
}

ion-button {
  --background-hover: var(--ion-color-secondary);
}

.desktop {
  .link {
    --color: var(--ion-color-medium);
  }
 
  .active-link {
    --color: var(--ion-color-primary);
  }
}