<ion-header>
  <app-my-menubar></app-my-menubar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="resources-row">
      <ion-col size="12" class="ion-no-padding">
        <div class="resources-container">
          <div class="resources-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #resourcesTitle class="resources-title"><strong>Resources</strong></p>
              </ion-col>
            </ion-row>
          </div>
          <div class="slider-container">
            <img src="../../assets/AtlantaMidtownPT4.jpg">
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-margin ion-padding resources-col">
        <ion-row>
          <ion-col size-xs="12" size-sm="3" size-md="3" size-lg="3" size-xl="3" 
          class="ion-no-margin ion-padding">
            <h1 class="ion-text-center">Resources</h1>
          </ion-col>
          <ion-col size-xs="12" size-sm="8" size-md="8" size-lg="8" size-xl="8" 
          class="ion-padding">
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nulla magni voluptas a aliquam debitis soluta blanditiis aspernatur corporis sunt beatae, illum molestiae vero. Illum accusantium sit eaque cumque officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, nostrum? Iusto consequuntur adipisci animi provident amet corporis, totam quas nisi accusantium maiores nobis recusandae magni dolorum possimus ullam quam dolorem.
            </p>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tenetur autem rerum blanditiis illo ducimus magni. Illum nisi maiores sed labore, eum dolores sit architecto pariatur laboriosam enim libero est?
            </p>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="ion-no-padding ion-no-margin">
      <ion-col class="fill">
        <img src="../../assets/AtlantaResources.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="footer-home">
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/logo-bldg.png">
        <h3>THE FRYER LAW FIRM © 2020</h3>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>
          70 Lenox Pointe NE<br>Atlanta, GA 30324
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>