<ion-header [translucent]="true">
  <ion-toolbar>

      <img (click)="goHome()" src="../../assets/FryerLawLogoOnlyWords.png">

    <ion-buttons slot="end">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="purchaser-container">
          <div class="purchaser-text-container">
            <ion-row>
              <!-- <ion-col size="6" class="ion-text-right">
                <img class="logo-bld" src="../../assets/logo-bldg.png">
              </ion-col> -->
              <ion-col class="ion-text-center">
                <p #purchasersTitle class="purchasersTitle"><strong>Purchasers &amp; Borrowers</strong></p>
              </ion-col>
            </ion-row>
            <!-- <ion-row>
              <ion-col class="ion-text-center">
                <p #purchaserSubtitle class="purchaser-subtitle"></p>
              </ion-col>
            </ion-row> -->
          </div>
          <div class="slider-container">
            <img src="../../assets/AtlantaSkyline4.jpg">
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-margin ion-padding purchaser-col">
        <h1 class="ion-text-center">Purchasers &amp; Borrowers Information</h1>
        <ion-row>
          <ion-col size-xl="6" offset-xl="3">
            <ion-list class="info-list">
              <ion-item (click)="presentSeeInfoModal(fundsList)" 
              class="ion-margin info-item" lines="none">
                <h2>Funds for Closing</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(hazardInsuranceList)" 
              class="ion-margin info-item" lines="none">
                <h2>Homeowners Hazard Insurance</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(titleInsuranceList)" 
              class="ion-margin info-item" lines="none">
                <h2>Owner's Title Insurance</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(surveysList)" 
              class="ion-margin info-item" lines="none">
                <h2>Surveys</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(powersOfAttorneyList)" 
              class="ion-margin info-item" lines="none">
                <h2>Powers of Attorney</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(miscellaneousList)" 
              class="ion-margin info-item" lines="none">
                <h2>Miscellaneous Information</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="footer-home">
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/logo-bldg.png">
        <h3>THE FRYER LAW FIRM © 2020</h3>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>
          70 Lenox Pointe NE<br>Atlanta, GA 30324
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>