<ion-header>
  <app-my-menubar></app-my-menubar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row class="attorneys-row">
      <ion-col size="12" class="ion-no-padding">
        <div class="attorneys-container">
          <div class="attorneys-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #attorneysTitle class="attorneys-title"><strong>Attorneys</strong></p>
              </ion-col>
            </ion-row>
          </div>
          <div class="slider-container">
            <img src="../../assets/attorneys-stock.jpg">
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row class="attorneys-list">
      <ion-col size="3" class="ion-no-margin ion-padding">
        <h1 class="ion-text-center">Attorneys &amp; Staff</h1>
      </ion-col>
      <ion-col size="8">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Perferendis nulla magni voluptas a aliquam debitis soluta blanditiis aspernatur corporis sunt beatae, illum molestiae vero. Illum accusantium sit eaque cumque officia. Lorem, ipsum dolor sit amet consectetur adipisicing elit. Neque, nostrum? Iusto consequuntur adipisci animi provident amet corporis, totam quas nisi accusantium maiores nobis recusandae magni dolorum possimus ullam quam dolorem.
        </p>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Rem tenetur autem rerum blanditiis illo ducimus magni. Illum nisi maiores sed labore, eum dolores sit architecto pariatur laboriosam enim libero est?
        </p>
      </ion-col>
      <ion-row class="ion-padding">
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile01.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Clara Fryer
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Attorney
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile02.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Kevin Murphy
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Attorney
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile03.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile03
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile03 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile04.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile04
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile04 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile05.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile05
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile05 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile06.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile06
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile06 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile07.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile07
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile07 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile08.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile08
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile08 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile09.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile09
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile09 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile10.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile10
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile10 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile11.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile11
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile11 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
        <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
          <ion-card>
            <img src="../../assets/profiles/Profile12.jpg">
            <ion-card-header>
              <ion-card-title class="ion-text-center">
                Profile12
              </ion-card-title>
              <ion-card-subtitle class="ion-text-center">
                Profile12 Title
              </ion-card-subtitle>
            </ion-card-header>
          </ion-card>
        </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile13.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile13
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile13 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile14.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile14
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile14 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile15.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile15
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile15 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile16.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile16
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile16 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile17.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile17
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile17 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile18.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile18
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile18 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile19.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile19
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile19 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile20.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile20
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile20 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
          <ion-col size-xs="12" size-sm="12" size-md="4" size-lg="4" size-xl="2">
            <ion-card>
              <img src="../../assets/profiles/Profile21.jpg">
              <ion-card-header>
                <ion-card-title class="ion-text-center">
                  Profile21
                </ion-card-title>
                <ion-card-subtitle class="ion-text-center">
                  Profile21 Title
                </ion-card-subtitle>
              </ion-card-header>
            </ion-card>
          </ion-col>
      </ion-row>
    </ion-row>
    <ion-row>
      <ion-col>
        <img src="../../assets/attorneys-stock3.jpg">
      </ion-col>
    </ion-row>
    <ion-row class="footer-home">
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/logo-bldg.png">
        <h3>THE FRYER LAW FIRM © 2020</h3>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>
          70 Lenox Pointe NE<br>Atlanta, GA 30324
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
