<ion-header [translucent]="true">
  <ion-toolbar>

      <img (click)="goHome()" src="../../assets/logos/FryerLawFirm-Logo-2021.png">

    <ion-buttons slot="end">
      <ion-menu-button color="primary"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <div class="seller-container">
          <div class="seller-text-container">
            <ion-row>
              <ion-col class="ion-text-center">
                <p #sellersTitle class="sellers-Title"><strong>Sellers</strong></p>
              </ion-col>
            </ion-row>
          </div>
          <div class="slider-container">
            <img src="../../assets/AtlantaMidtownPT2.jpg">
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-margin ion-padding seller-col">
        <h1 class="ion-text-center">Sellers Information</h1>
        <ion-row>
          <ion-col size-xl="6" offset-xl="3">
            <ion-list class="info-list">
              <ion-item (click)="presentSeeInfoModal(payoffList)" 
              class="ion-margin info-item" lines="none">
                <h2>Mortgage/Lien Payoff Process</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(closingList)" 
              class="ion-margin info-item" lines="none">
                <h2>Parties to Closing</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(powersOfAttorneyList)" 
              class="ion-margin info-item" lines="none">
                <h2>Powers of Attorney</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
              <ion-item (click)="presentSeeInfoModal(miscellaneousList)" 
              class="ion-margin info-item" lines="none">
                <h2>Miscellaneous Information</h2>
                <ion-button fill="outline" slot="end">See Info</ion-button>
              </ion-item>
            </ion-list>
          </ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row class="footer-home">
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/logo-bldg.png">
        <h3>THE FRYER LAW FIRM © 2020</h3>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>
          70 Lenox Pointe NE<br>Atlanta, GA 30324
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>