ion-card {
  --color: var(--ion-color-medium);
}

ion-card-title {
  color: var(--ion-color-medium);
}

.staff-row {
  padding-top: 5em;
  background: var(--ion-color-light);
}

.staff-container {
  position: relative;
  width: 100%;
  background: var(--ion-color-light);
}

.staff-text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 40%;
}

.staff-text-container strong {
  // font-size: 3.5vh;
  font-size: 7vh;
  color: #fff;
  text-shadow: 5px 5px 5px black;
}

.staff-text-container p {
  font-size: 3vh;
  // font-size: 2.5vh;
  color: #fff;
  margin: 0;
}

.staff-card:hover {
  cursor: pointer;
}

.slider-container {
  z-index: 1;
}

.staff-list {
  background: var(--ion-color-light);
}

.staff-list h1{
  font-size: 3vh;
}

.staff-list h2 {
  font-size: 2vh;
}

.img-footer {
  color: var(--ion-color-medium);
}

.footer-home {
  background-color: var(--ion-color-light);
  color: var(--ion-color-medium);
}