<ion-content [fullscreen]="true">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col size="12" class="ion-no-padding">
        <!-- Menu overlays the slider -->
        <ion-toolbar>
          <ion-buttons slot="end">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
        </ion-toolbar>
        
        <div class="intro-container">
          <div class="intro-text-container">
            <ion-row>
              <!-- <ion-col size="6" class="ion-text-right">
                <img class="logo-bld" src="../../assets/logo-bldg.png">
              </ion-col> -->
              <ion-col class="ion-text-center">
                <p #homeTitle><strong>THE FRYER LAW FIRM</strong></p>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col class="ion-text-center">
                <p #homeSubtitle class="home-subtitle">A Real Estate Closing Practice</p>
              </ion-col>
            </ion-row>
          </div>
          <div class="slider-container">
            <ion-slides [options]="slideOpts" pager="true">
              <ion-slide>
                <img src="../../assets/AtlantaMidtown3.jpg" >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/drone-pic-bldg2.jpg" >
              </ion-slide>
              <ion-slide>
                <img src="../../assets/AtlantaSkyline4.jpg" >
              </ion-slide>
            </ion-slides>
          </div>
        </div>   
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-no-margin ion-padding welcome-col">
        <h1>Welcome</h1>
        <p>The Fryer Law Firm, P.C. is a real estate law firm located in the heart 
          of Atlanta. Our Mission is to provide a positive closing experience for 
          the parties who have entrusted their real estate transaction to our care.
        </p>
        <p>Although our firm specializes in the intown Atlanta neighborhoods, 
          we can close your real estate transactions throughout Georgia. To begin, 
          please call (404) 240-0007 or send your title request to Ron Kite at 
          rkite@fryerclosings.com.
        </p>
        <P>Take a look at our video below showing why we pride ourselves as the 
          caring and competent firm, bringing real value to you, our lawyers, 
          and our staff.
        </P>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <video class="my-video" #myVideo (ended)="videoEnd()" poster="../../assets/videos/home-poster.jpg" 
         controls controlslist="nodownload, nofullscreen"
         width="100%" height="100%">
          <source src="../../assets/videos/Fryer_h264_MASTER.mov" 
          type="video/mp4">
          Sorry, your browser does not support this video. Please update or use different browser.
        </video>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" style="background-color: #859ba8;">
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card (click)="goToPurchBorrowers()">
          <img src="../../assets/circle-legal-agreement.png" >
          <ion-header>
            <ion-card-title>Purchasers & Borrowers</ion-card-title>
          </ion-header>    
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <img src="../../assets/circle-checkmark-agreement.png" >
          <ion-header>
            <ion-card-title>Sellers</ion-card-title>
          </ion-header>    
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <img src="../../assets/circle-people-agreement.png" >
          <ion-header>
            <ion-card-title>Staff</ion-card-title>
          </ion-header>    
        </ion-card>
      </ion-col>
      <ion-col size-xs="12" size-sm="12" size-md="6" size-lg="6" size-xl="3">
        <ion-card>
          <img src="../../assets/circle-dialog-agreement.png" >
          <ion-header>
            <ion-card-title>Contact</ion-card-title>
          </ion-header>    
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-text-center ion-no-margin ion-padding history-col">
        <h1>History</h1>
        <p>The Fryer Law Firm was founded in 1997 by Clara Fryer to serve exclusively 
          as a real estate closing practice for metro-Atlanta neighborhoods. 
          The attorneys and staff bring together decades of closing experience, 
          including expertise in the areas of condominium/covenant law, builder/new 
          construction issues, lender representation, and title examination work.
        </p>
        <p>In 1999, the Firm renovated the former Buckhead Bed and Breakfast building 
          located in the Lenox Pointe development. Lenox Pointe is immediately 
          accessible from I-85/75, GA-400 and major in-town surface streets and 
          is the firm's main office. A state-of-the-art closing facility with 
          conference rooms of varying sizes, the main location also serves as 
          “back office” for the firm's satellite closing sites located in agents' 
          real estate offices in Atlanta and Decatur.
        </p>
      </ion-col>
    </ion-row>
    <ion-row class="footer-home">
      <ion-col size="12" class="ion-text-center">
        <img src="../../assets/logo-bldg.png">
        <h3>THE FRYER LAW FIRM © 2020</h3>
      </ion-col>
      <ion-col size="12" class="ion-text-center">
        <p>
          70 Lenox Pointe NE<br>Atlanta, GA 30324
        </p>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
