ion-toolbar {
  position: absolute;
  --background: transparent;
}

ion-card {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  --background: var(--ion-color-primary);
  --color: white;
}

ion-card:hover {
  --background: var(--ion-color-secondary);
}

ion-card-title {
  height: 3em;
}

ion-menu-button {
  color: var(--ion-color-secondary);
}

.home-subtitle {
  opacity: 1;
  // transform: scale(0);
}

.logo-bld {
  display: inline-block;
}

.my-video {
  width: 100%;
}

.intro-container {
  padding-top: 4em;
  width: 100%;
  background: var(--ion-color-primary);
}

.intro-text-container {
  position: absolute;
  left: 0;
  right: 0;
  top: 14%;
  z-index: 10;
}

.intro-container strong {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  // font-family: 'Cormorant-Semi-Bold', 'Times New Roman', Times, serif;
  // font-size: 3.5vh;
  font-size: 7vh;
  color: var(--ion-color-medium);
}

.intro-container p {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  // font-family: 'Georgia', 'Times New Roman', Times, serif;
  font-size: 3vh;
  // font-size: 2.5vh;
  color: var(--ion-color-medium);
  margin: 0;
}

.intro-text-container a {
  text-decoration: none;
}

.slider-container {
  z-index: 1;
}

.welcome-row {
  padding: 0 3em;
  background-color: var(--ion-color-primary);
}

.welcome-col {
  // background-image: url(../../assets/atlanta-skyline-beige.jpg);
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  // background-repeat: no-repeat;
  // background-position: center;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-medium);
}

.welcome-col h1{
  // font-family: 'Cormorant-Semi-Bold', 'Times New Roman', Times, serif;
  font-size: 3vh;
  color: #2c330d;
}

.welcome-col p {
  color: #2c330d;
}

.history-row {
  background: var(--ion-color-secondary)
}

.history-col {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  background: var(--ion-color-secondary)
}

.history-col h1{
  font-size: 3vh;
  // font-family: 'Cormorant-Semi-Bold', 'Times New Roman', Times, serif;
  color: var(--ion-color-light);
}

.history-col p {
  color: var(--ion-color-light);
}

.history-pic {
  padding: 3em 3em;
}

.video-container {
  background-color: var(--ion-color-secondary);
}

.footer-home {
  font-family: 'MuktaMahee Extra Light', Arial, Helvetica, sans-serif;
  background-color: var(--ion-color-primary);
  color: var(--ion-color-medium);
}

.footer-home h3 {
  // font-family: 'Cormorant-Semi-Bold', 'Times New Roman', Times, serif;

}

.footer-home p {
  // font-family: 'Georgia', 'Times New Roman', Times, serif;
}